In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lazaro Cardenas,MX,2020-02-24 06:40:34,17.96,-102.20,71.82,88,8,2.28
1,1,Albany,US,2020-02-24 06:42:43,42.60,-73.97,34.00,75,1,5.82
2,2,Port Elizabeth,ZA,2020-02-24 06:42:43,-33.92,25.57,68.00,64,11,2.24
3,3,Tiarei,PF,2020-02-24 06:42:44,-17.53,-149.33,82.00,78,40,4.70
4,4,Rikitea,PF,2020-02-24 06:42:44,-23.12,-134.97,79.81,71,7,6.71

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) #[max(0,temp) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of 
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent Cloudiness.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Wind Speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lazaro Cardenas,MX,2020-02-24 06:40:34,17.96,-102.20,71.82,88,8,2.28
4,4,Rikitea,PF,2020-02-24 06:42:44,-23.12,-134.97,79.81,71,7,6.71
5,5,Kapaa,US,2020-02-24 06:42:44,22.08,-159.32,75.20,69,40,5.82
7,7,Ahuimanu,US,2020-02-24 06:42:45,21.44,-157.84,75.20,69,20,8.05
9,9,Busselton,AU,2020-02-24 06:42:45,-33.65,115.33,75.00,39,99,13.78
15,15,Kahului,US,2020-02-24 06:41:00,20.89,-156.47,75.20,69,40,9.17
18,18,Salalah,OM,2020-02-24 06:38:22,17.02,54.09,78.80,61,6,4.70
24,24,Hermanus,ZA,2020-02-24 06:42:48,-34.42,19.23,72.00,65,0,11.99
28,28,Ahipara,NZ,2020-02-24 06:42:49,-35.17,173.17,73.99,68,0,19.01
50,50,Cape Town,ZA,2020-02-24 06:42:54,-33.93,18.42,72.00,59,0,12.75

In [27]:
preferred_cities_df.count()

City_ID       126
City          126
Country       125
Date          126
Lat           126
Lng           126
Max Temp      126
Humidity      126
Cloudiness    126
Wind Speed    126
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0   Lazaro Cardenas      MX     71.82  17.96 -102.20
4           Rikitea      PF     79.81 -23.12 -134.97
5             Kapaa      US     75.20  22.08 -159.32
7          Ahuimanu      US     75.20  21.44 -157.84
9         Busselton      AU     75.00 -33.65  115.33
15          Kahului      US     75.20  20.89 -156.47
18          Salalah      OM     78.80  17.02   54.09
24         Hermanus      ZA     72.00 -34.42   19.23
28          Ahipara      NZ     73.99 -35.17  173.17
50        Cape Town      ZA     72.00 -33.93   18.42

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lazaro Cardenas,MX,71.82,17.96,-102.20,Hotel Quinta Antigua
4,Rikitea,PF,79.81,-23.12,-134.97,Pension Maro'i
5,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
7,Ahuimanu,US,75.20,21.44,-157.84,Paradise Bay Resort
9,Busselton,AU,75.00,-33.65,115.33,Observatory Guest House
15,Kahului,US,75.20,20.89,-156.47,Maui Seaside Hotel
18,Salalah,OM,78.80,17.02,54.09,HAMDAN PLAZA HOTEL
24,Hermanus,ZA,72.00,-34.42,19.23,Misty Waves Boutique Hotel
28,Ahipara,NZ,73.99,-35.17,173.17,Ahipara Holiday Park
50,Cape Town,ZA,72.00,-33.93,18.42,Southern Sun Waterfront Cape Town

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))